.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto 0 39px;
}

.u-section-1 .u-form-1 {
  background-image: none;
  height: 395px;
  width: 1062px;
  margin: 49px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 0;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}