.u-section-1 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 267px;
  margin: 24px auto 0 393px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 301px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: -5px -60px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 16px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 23px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-group-1 {
  width: 410px;
  height: auto;
  background-image: none;
  min-height: 55px;
  margin: 143px 114px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 1px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 0 75px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 427px;
  height: auto;
  background-image: none;
  min-height: 58px;
  margin: -54px auto 0 114px;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: -1px auto 0 143px;
}

.u-section-1 .u-group-3 {
  width: 410px;
  height: auto;
  background-image: none;
  min-height: 245px;
  margin: 10px 114px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 427px;
  height: auto;
  background-image: none;
  min-height: 245px;
  margin: -245px auto 24px 114px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  margin: -1px auto 0 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1429px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-left: 289px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-group-1 {
    width: 283px;
    margin-top: 116px;
    margin-right: 77px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-group-2 {
    width: 270px;
    margin-top: -60px;
    margin-left: 77px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 32px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -247px;
    margin-bottom: 60px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-left: 182px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-top: 20px;
  }

  .u-section-1 .u-group-1 {
    width: 256px;
    margin-top: 109px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 234px;
    min-height: 59px;
    margin-top: -61px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6px;
  }

  .u-section-1 .u-group-3 {
    width: 333px;
    margin-top: 40px;
  }

  .u-section-1 .u-group-4 {
    width: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-left: 92px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: 13px;
  }

  .u-section-1 .u-group-1 {
    width: 175px;
    margin-top: 105px;
    margin-right: 23px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 187px;
    margin-top: -57px;
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 217px;
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 5px;
  }

  .u-section-1 .u-group-4 {
    width: 251px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 23px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-left: -10px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 24px;
  }

  .u-section-1 .u-group-1 {
    width: 148px;
    margin-top: 69px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-group-2 {
    width: 92px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-3 {
    width: 171px;
    min-height: 284px;
    margin-top: 25px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-group-4 {
    width: 158px;
    min-height: 288px;
    margin-top: -286px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 11px;
  }
}